body {
    background-image: url("https://www.bhmpics.com/downloads/mississippi-state-bulldogs-football-Wallpapers/13.thumb2-mississippi-state-bulldogs-golden-logo-ncaa-purple-metal-background-american-football-club.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}