body {
    background-image: url("/src/HD-wallpaper-mississippi-state-bulldogs.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}